<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.mapper.DevicesMapper">

    <resultMap id="allDeviceInfoMap" type="edu.whut.domain.vo.AllDeviceInfoVO">
            <id property="did" column="did" jdbcType="INTEGER"/>
            <result property="dName" column="d_name" jdbcType="VARCHAR"/>
            <result property="dMark" column="d_mark" jdbcType="VARCHAR"/>
            <result property="dStatus" column="d_status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="dIp" column="d_ip" jdbcType="VARCHAR"/>
            <collection property="sensorFieldsList" javaType="list" resultMap="edu.whut.mapper.SensorFieldsMapper.BaseResultMap"/>
    </resultMap>

    <sql id="Base_Column_List">
        did,d_number,d_name,
        d_mark,d_status,create_time,
        update_time,d_ip,version,
        is_deleted
    </sql>


    <select id="selectListByRules" resultType="edu.whut.pojo.Devices">
        SELECT * FROM t_devices
        <where>
            t_devices.is_deleted = 0
            <if test="dName != null or dIp != null">
                AND
                <if test="dName != null">
                    dName = #{dName}
                </if>
                <if test="dIp != null">
                    AND dIp = #{dIp}
                </if>
            </if>
        </where>
        ORDER BY
         d_status = 1 ASC
        ,update_time DESC
    </select>

    <!--此处可以优化，多表查询最好不要超过三张表 -->
    <select id="queryAllDeviceInfo" resultMap="allDeviceInfoMap">
        SELECT
            td.did,
            td.d_name,
            td.d_mark,
            td.d_status,
            td.create_time,
            td.update_time,
            td.d_ip,
            tsf.nid ,
            tsf.n_name ,
            tsf.n_unit ,
            tsf.n_description ,
            tsf.is_alter ,
            tsf.alter_top ,
            tsf.alter_down,
            tsf.alter_description ,
            tsf.alter_intensity
        FROM
            t_devices td
                LEFT JOIN
            t_user_map_devices tumd ON td.did = tumd.d_id
                LEFT JOIN
            t_fields_map_devices tfmd ON td.did = tfmd.d_id
                LEFT JOIN
            t_sensor_fields tsf ON tfmd.f_id = tsf.nid
        WHERE
            tumd.u_id = #{userId}

    </select>
</mapper>
