<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.mapper.SensorDataMapper">

    <resultMap id="BaseResultMap" type="edu.whut.pojo.SensorData">
            <id property="sid" column="sid" jdbcType="INTEGER"/>
            <result property="deviceId" column="device_id" jdbcType="INTEGER"/>
            <result property="fieldId" column="field_id" jdbcType="INTEGER"/>
            <result property="valueNum" column="value_num" jdbcType="DOUBLE"/>
            <result property="valueStr" column="value_str" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        sid,device_id,field_id,
        value_num,value_str,update_time
    </sql>
</mapper>
