<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.mapper.SensorDataMapper">

    <resultMap id="BaseResultMap" type="edu.whut.pojo.SensorData">
            <id property="sid" column="sid" jdbcType="INTEGER"/>
            <result property="deviceId" column="device_id" jdbcType="INTEGER"/>
            <result property="fieldId" column="field_id" jdbcType="INTEGER"/>
            <result property="valueNum" column="value_num" jdbcType="DOUBLE"/>
            <result property="valueStr" column="value_str" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        sid,device_id,field_id,
        value_num,value_str,update_time
    </sql>
    <select id="getLatestSensorDataByDeviceId" resultType="edu.whut.domain.vo.SensorDataVO">
        SELECT
            sd.sensorFieldName,
            sd.valueNum,
            sd.valueStr,
            sd.updateTime
        FROM
            (SELECT
                 n.n_name AS sensorFieldName,
                 sd.value_num AS valueNum,
                 sd.value_str AS valueStr,
                 sd.update_time AS updateTime
             FROM
                 t_sensor_data sd
                     JOIN
                 t_sensor_fields n ON sd.field_id = n.nid
             WHERE
                 sd.device_id = #{deviceId}
               AND
                     (n.n_name, sd.update_time) IN (
                     SELECT
                         n.n_name,
                         MAX(sd.update_time)
                     FROM
                         t_sensor_data sd
                             JOIN
                         t_sensor_fields n ON sd.field_id = n.nid
                     WHERE
                         sd.device_id = #{deviceId}
                     GROUP BY
                         n.n_name
                 )) AS sd;
    </select>
    <select id="querySensorData" resultType="edu.whut.domain.vo.QuerySensorDataVO">
        SELECT
        sf.n_description AS sensorName,
        sf.nid AS sensorId,
        sd.value_num AS valueNum,
        sd.value_str AS valueStr,
        sd.update_time AS updateTime
        FROM
        t_sensor_data sd
        JOIN
        t_sensor_fields sf ON sd.field_id = sf.nid
        WHERE
        sd.device_id = #{deviceId}
        AND
        sd.field_id = #{sensorId}
        AND
        sf.is_deleted=0
        ORDER BY
        sd.field_id,
        sd.update_time DESC
    </select>
</mapper>
